* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.myDiv {
  /* display: inline-block; */
  width: 50%;
  /* height: 50px; */
  overflow: hidden;
  background-color: red;
}


.myDiv2 {
  /* display: inline-block; */
  width: 50%;
  max-width: 120px;
  min-width: 100px;
  height: 50px;
  background-color: greenyellow;
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}

.avatar img {
  max-width: none;
  width: auto;
  max-height: 100%;
  min-height: 100%;
}

.hero {
  width: 100vw;
  height: 50vh;
  background-color: aqua;
}

.main {
  min-height: calc(100vh - (18px + 18px + 32px) );
}

.footer {
  text-align: center;
}

.div1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin: 10px 20px;
  margin: 10px 20px 15px;
  margin: 10px 15px 20px 25px;
}

.div2 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.mySection {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 400px;
  padding: 50px 0;
  margin-bottom: 50px;
  color: #fff;
  background-color: black;
  border: 10px solid #ff0;
}
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}