*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  align-items: center; 
  height: 200px; 
  justify-content: space-evenly; 
  flex-flow: direction wrap; 
  flex-flow: row-reverse wrap; 
} 

.flex-item {
  flex-grow: 1;
  color: #fff;
  text-align: center;
  background-color: red;
} 

.flex-item:nth-child(3) {
  flex-grow: 2;
  background-color: blue;
  align-self: flex-end;
} 

.flex-item:nth-child(5) {
  order: 2;
  align-self: stretch;
} 
