@font-face {
  font-family: 'Handmade';
  src: url('../fonts/HandmadeRegular.woff2') format('woff2'),
       url('../fonts/HandmadeRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.h1 {
  color: red;
  height: 100px;
  /* font-size: xx-large; */
  /* font-size: 20px; */
  /* font-size: 2ch; */
  /* font-size: 2em; Parent */
  font-size: 2rem; /* HTML */
  font-weight: 700;
  font-family: 'Handmade', 'Rubik', 'Times New Roman', sans-serif;
}

.h1-blue {
  color: blue;
}